<div class="container-fluid">
    <div class="container row">
        <div class="col-9">
            <h1>NFL Database</h1>
            <p>A database that holds coach, game, player, stadium, and team information in the NFL</p>
            <p>To query all entries in one of these categories click on a selection to the right</p>
        </div>
        <div class="col-3">
            <ul class="">
                <li><a href="/coaches">Coaches</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/players">Players</a></li>
                <li><a href="stadiums">Stadiums</a></li>
                <li><a href="teams">Teams</a></li>
            </ul>
        </div>
    </div>
</div>